.b-feedback{
	margin-bottom: 20px;
	width: 100%;
	height: auto;
	background-color: #ebebeb;
	border-radius: 4px;
}
.b-feedback-ttl{
	height: 44px;
	padding: 15px;
	background-color: #fff;
	border-radius: 4px 4px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-feedback-well{
	position: relative;
	padding: 15px;
}
.b-feedback-txtarea-wrap {
	height: 81px;
	overflow-y:auto;
	padding: 6px 0 6px 12px;
	margin: 0 37px 0 0;
}
.b-feedback-txtarea{
	border: none;
	width: 100%;
	min-height: 81px;
	resize: none;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-feedback-txtarea p {padding: 0; margin: 0;}

.b-feedback-smile-i {padding: 8px; float: left; width: 16px; height: 16px; border: 1px solid #f6f6f6;}
.b-feedback-smile-i:hover {background: #f5f5f5;}
.b-feedback-emoji-smiles {background: url(../i/im_emoji.png) no-repeat; width: 16px; height: 16px;}
.b-feedback-smile{
	width: 32px;
	height: 71px;
	position: absolute;
	top: 5px;
	right: 0px;
	border-left: 1px solid #ebebeb;
	
}
.b-feedback-smile a{
	display: block;	
	position: relative;
	width: 32px;
	height: 20px;
/*	background: url(../i/smile.png) 9px 50% no-repeat;*/
	float: left;
}
.b-feedback .btn{
	display: block;
	float: left;
	height: 30px;
	padding: 0 12px;
	margin-left: 8px;
	font: bold 10px/30px Arial,sans-serif;
	text-transform: uppercase;
	color: #fff;
	border-radius: 4px;
	text-align: center;
}
.b-feedback .btn:hover{
	text-decoration: none;
}
.b-feedback .pull-right{	
	float: right;
}
.b-feedback .pull-left{	
	float: left;
}
.b-feedback .bg-blue{
	background: #2b7bde;
}
.b-feedback .bg-grey{
	background: #f5f5f5;
}
.b-feedback .color-medium-grey{
	color: #999;
}
.b-feedback-bot{
	margin-top: 10px;
	overflow: hidden;
}
.m8t{
	margin-top: 8px;
}
.b-feedback .icon-foto{
	width: 12px;
	height: 12px;
	float: left;
	margin-top: 10px;
	margin-right: 5px;
	background: url(../i/ic7.png) no-repeat;
}
.b-feedback .icon-yes{
	width: 12px;
	height: 12px;
	float: left;
	margin-top: 10px;
	margin-right: 5px;
	background: url(../i/ic9.png) no-repeat;
}
.b-feedback .icon-chekin{
	width: 12px;
	height: 12px;
	float: left;
	margin-top: 10px;
	margin-right: 5px;
	background: url(../i/icon-chekin.png) no-repeat;
}
.radius-bottom{
	border-radius: 0 0 4px 4px;
}
.b-feedback-h160{
	height: 160px;
}
.b-feedback-body{
	display: block;
	position: relative;
	background-color: #fff;
	border-radius: 4px;
}
.b-feedback-place{
	display: block;
	width: 100%;
	height: 32px;
	border-top: 1px solid #ebebeb;
	line-height: 31px;
	padding-left: 12px;
	position: relative;
}
.clearfix:before{
  content: " ";
  display: table;
}
.clearfix:afte{
  clear: both;
}
.b-feedback-place i{
	display: inline-block;
	position: relative;
	width: 10px;
	height: 12px;
	background: url(../i/sprite-red.png) 0px -118px no-repeat;
	z-index: 60;
}
.b-feedback-place-txt{
	color: #333;
}
.b-feedback-place-txt:hover{
	text-decoration: none;
}
.b-feedback-place-txt span{
	color: #bbb;
}
.b-feedback-place-close{
	display: inline-block;
	position: relative;
	width: 12px;
	height: 10px;
	margin-left: 8px;
	background: url(../i/icon-close.png) 50% bottom no-repeat;
	
}
.b-feedback-score{
	display: none;
	width: 100%;
	height: 32px;
	border-top: 1px solid #ebebeb;
	line-height: 31px;
	padding-left: 12px;
}
.b-feedback-score i{
	display: inline-block;
	position: relative;
	width: 10px;
	height: 12px;
	background: url(../i/sprite-red.png) 0px -77px no-repeat;
}
.b-feedback-score-more{
	color: #dc3d33;
}
.b-feedback-score-close{
	display: inline-block;
	position: relative;
	width: 12px;
	height: 10px;
	margin-left: 8px;
	background: url(../i/icon-close.png) 50% bottom no-repeat;
	
}
.b-feedback-gallery{
	display: none;
	width: 100%;
	border-top: 1px solid #ebebeb;
	line-height: 31px;
	font-size: 0px;
	line-height: 0px;
	padding-bottom: 12px;
}
.b-feedback-gallery-item{

	display: inline-block;
	position: relative;
	height: 73px;
	width: 73px;
	margin: 12px 0 0 12px;
	vertical-align: top;
}
.b-feedback-gallery-item-add{

	display: inline-block;
	position: relative;
	height: 73px;
	width: 73px;
	margin: 12px 0 0 12px;
	background: url(../i/foto-add.png) no-repeat;
	vertical-align: top;
}
.b-feedback-gallery-item-close{
	display: block;
	position: absolute;
	top: -6px;
	right: -6px;
	width: 9px;
	height: 9px;
	border: 2px solid #fff;
	border-radius: 50%;
	background: url(../i/icon-close.png) no-repeat;
}
.b-feedback-bot .active{
	color: #e5716a;
}
.b-feedback-bot .active .icon-foto{
	background: url(../i/ic7-red.png) no-repeat;
}
.b-feedback-bot .active .icon-yes{
	background: url(../i/ic9-red.png) no-repeat;
}
.b-feedback-bot .active .icon-chekin{
	background: url(../i/icon-chekin-red.png) no-repeat;
}
.b-feedback-gallery-preloader{
	display: inline-block;
	position: relative;
	height: 73px;
	width: 73px;
	margin: 12px 0 0 12px;
	background-color: #f5f5f5;
	vertical-align: top;
}
.b-feedback-gallery-preloader-fon{
	display: block;
	position: relative;	
	height: 4px;
	width: 49px;
	margin: 35px 0 0 12px;
	background: url(../i/preloader-fon.jpg) repeat-x;
}
.b-feedback-gallery-preloader-line{
	display: block;
	position: relative;	
	height: 4px;
	background: url(../i/preloader-line.jpg) repeat-x;
}
.popup-score{
	display: none;
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -285px;
	width: 525px;
	height: 472px;
	background-color: #fff;
	-moz-box-shadow: 0px 0 5px #ccc;
	-webkit-box-shadow: 0px 0 5px #ccc;
	box-shadow: 0px 0px 5px  #999;
	z-index: 60;
}
.popup-score-top{
	display: block;
	position: relative;
	height: 43px;
	padding-left: 12px;
	line-height: 43px;
	font-weight: bold;
	border-bottom: 1px solid #ebebeb;
}
.popup-score-close{
	display: block;
	float: right;
	margin: 16px 14px 0 0;
	width: 11px;
	height: 11px;
	background: url(../i/icon-close.png) 50% no-repeat;
}
.popup-score-bot{
	display: block;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 0px;
	height: 61px;
	background-color: #ebebeb;
	line-height: 61px;
	padding-left: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.popup-score-send-btn{
	display: block;
	float: right;
	height: 30px;
	padding: 0 12px;
	margin: 15px 15px 0 0;
	font: bold 10px/30px Arial,sans-serif;
	text-transform: uppercase;
	color: #fff;
	border-radius: 4px;
	text-align: center;
	background: #2b7bde;
}
.popup-score-send-btn:hover{
	text-decoration: none;
}
.popup-score-reset{
	font-size: 11px;
	color: #999;
	background: url(../i/icon-close.png) left 50% no-repeat;
	padding-left: 13px;
}
.popup-score-body{
	display: block;
	float: left;
	width:100%;
}
.popup-score-menu{
	float: left;
	background-color: #fcfcfc;
	width: 195px;
	border-right: 1px solid #f6f6f6;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 368px;;
}
.popup-score-menu li{
	display: block;
	position: relative;
	width: 100%;
	height: 32px;
	border-bottom: 1px solid #f6f6f6;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 31px;
	padding-left: 12px;
}
.popup-score-menu li span{
	color: #80be13;
}
.popup-score-menu-active{
	display: none;
	position: absolute;
	top: 13px;
	right: -1px;
	width: 3px;
	height: 5px;
	background: url(../i/popup-active.png) right 50% no-repeat;
}
.popup-score-menu li.active{
	background-color: #f5f5f5;
}
.popup-score-menu li.active .popup-score-menu-active{
	display: block;
}

.color-green-cyan{
	color: #00a551;
}
.popup-container-scroll {overflow-y: scroll; height: 368px;}
.popup-score-content_blocked {height:100%;overflow:hidden;}
.popup-score-content li{
	height: 46px;
	width: 100%;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #f6f6f6;
	padding-left: 12px;
	padding-top: 5px;
	float: left;
	
}
.popup-score-object{
	float: left;
	width: 180px;
}
.popup-score-point-block{
	float: left;
	padding-left: 12px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.popup-score-content{
	width:100%;	
	height: 368px;
}
.popup-score-content-td{
	vertical-align: top;
	position: relative;
	height: 368px;
	overflow-y: hidden;
}
.popup-score-object-points i{
	display: inline-block;
	position: relative;
	width: 3px;
	height: 12px;	
	margin-left: 3px;
	background: url(../i/sprite-treyg.png) -30px 8px no-repeat;
	
}
.popup-score-object-points2, .popup-score-object-type{
	display: block;
	font-size: 11px;
	color: #bbbbbb;
	margin-top: -3px;
}
.color-green-cyan, .color-green-cyan a{
	color: #00a551;
}
.popup-score-object-points span{
	background: url(../i/bg-dotted-blue.png) 0 13px repeat-x;
}
.color-green-cyan a.popup-score-object-points span, .color-green-cyan .popup-score-select-top-points{
	background: url(../i/bg-dotted-green-cyan.png) 0 13px repeat-x;
}
.color-green-cyan i{
	background: url(../i/sprite-treyg.png) 0px 8px no-repeat;
}
.color-brilliant-green, .color-brilliant-green a{
	color: #a2cf52;
}
.color-brilliant-green a.popup-score-object-points span{
	background: url(../i/bg-dotted-brilliant-green.png) 0 13px repeat-x;
}
.color-brilliant-green i{
	background: url(../i/sprite-treyg.png) -5px 8px no-repeat;
}
.color-yellow-green, .color-yellow-green a{
	color: #c1e224;
}
.color-yellow-green a.popup-score-object-points span{
	background: url(../i/bg-dotted-yellow-green.png) 0 13px repeat-x;
}
.color-yellow-green i{
	background: url(../i/sprite-treyg.png) -10px 8px no-repeat;
}
.color-orange-yellow, .color-orange-yellow a{
	color: #dfa918;
}
.color-orange-yellow a.popup-score-object-points span{
	background: url(../i/bg-dotted-orange-yellow.png) 0 13px repeat-x;
}
.color-orange-yellow i{
	background: url(../i/sprite-treyg.png) -15px 8px no-repeat;
}
.color-strong-red, .color-strong-red a{
	color: #c53730;
}
.color-strong-red a.popup-score-object-points span{
	background: url(../i/bg-dotted-strong-red.png) 0 13px repeat-x;
}
.color-strong-red i{
	background: url(../i/sprite-treyg.png) -20px 8px no-repeat;
}
.color-black, .color-black a{
	color: #000;
}
.color-black a.popup-score-object-points span{
	background: url(../i/bg-dotted-black.png) 0 13px repeat-x;
}
.color-black i{
	background: url(../i/sprite-treyg.png) -25px 8px no-repeat;
}
.popup-score-select{
	display: none;
	position: absolute;
	top: 44px;
	left: 196px;
	margin-left: 191px;
	width: 117px;
	height: 234px;
	background-color: #fff;
	-moz-box-shadow: 0px 0 5px #ccc;
	 -webkit-box-shadow: 0px 0 5px #ccc;
	box-shadow: 0px 0px 5px  #999;
	z-index: 50;
/*	opacity: 0.5;*/
}
.popup-score-select-top{
	height: 46px;
	width: 100%;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #f6f6f6;
	padding-left: 12px;
	padding-top: 5px;
	float: left;
	color: #2b7bde;
}
.popup-score-select-top-point2{
	position: relative;
	display: block;
	color: #bbb;
	font-size: 11px;
	margin-top: -3px;
}
.popup-score-select ul{
	width: 100%;
	float: left;
}
.popup-score-select ul li{
	padding-left: 12px;
	width: 100%;
	height: 27px;
	border-bottom: 1px solid #f6f6f6;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 11px;
	color: #000;
	cursor: pointer;
	line-height: 26px;
}
.popup-score-select ul li:hover{	
	background-color: #fef9f9;
}	
.popup-score-select ul li:last-child{
	width: 100%;
	height: 26px;
	border-bottom: 1px solid #f6f6f6;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 11px;
	color: #999;
}
.popup-score-select ul li span{
	display: inline-block;
	position: relative;
	width: 12px;
}
.popup-score-overlay{
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.b-feedback-place-input{
	display: inline-block;
	position: relative;
	border: none;
	line-height: 13px;
	width: 0px;
	z-index: 60;
}
.b-feedback-select-place{
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 265px;
	min-height: 134px;
	background-color: #fff;
	-moz-box-shadow: 0px 0 5px #ccc;
	 -webkit-box-shadow: 0px 0 5px #ccc;
	box-shadow: 0px 0px 5px  #999;
	z-index: 50;
}
.b-feedback-select-place-top{
	padding-left: 12px;
}
.b-feedback-select-place ul{
	margin-top: 32px;
	position: relative;
}
.b-feedback-select-place li{	
	height: 32px;
	border-top: 1px solid #f6f6f6;
	padding-left: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
	cursor: pointer;
}
.b-feedback-select-place li:last-child{
	cursor: default;
}
.b-feedback-select-place li:hover{
	background-color: #fef9f9;
}	
.b-feedback-select-place li:last-child:hover{
	background-color: #fff;
}
.b-feedback-select-place span{
	color: #dc3d33;
}
span.b-feedback-select-place-all{
	color: #bbb;
}	
.b-feedback-smile-select{
	display: none;
	position: absolute;
	top: 35px;
	left: 493px;
	width: 136px;
	margin: -1px;
	background-color: #fff;
	-moz-box-shadow: 0px 0 5px #ccc;
	 -webkit-box-shadow: 0px 0 5px #ccc;
	box-shadow: 0px 0px 5px  #999;
	z-index: 61;
}
.b-feedback-smile-select li{
	float: left;
	width: 33px;
	height: 33px;
	border-left: 1px solid #f6f6f6;
	border-bottom: 1px solid #f6f6f6;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-feedback-smile-select li:hover{
	background-color: #fef9f9;
}
.b-feedback-smile-select-shadow{
	display: block;
	position: absolute;
	width: 14px;
	height: 7px;
	left: 8px;
	top: -7px;
	background-color: #055;
	background: url(../i/smile-shadow.png) no-repeat;
}
.b-feedback-smile-select-smile {	
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}
.b-feedback-smile-select-smile-hover{	
	position: relative;
	display: none;
	margin: 0 auto;
	margin-top: 10px;
}
.b-feedback-smile-select li:hover .b-feedback-smile-select-smile-hover{
	display: block;
}
.b-feedback-smile-select li:hover .b-feedback-smile-select-smile{
	display: none;
}
.b-feedback-smile-img{
	margin: 0 auto;
	display: block;
	margin-top: 4px;
}
.overlay-all{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.4;
}






