.profile {background:#fff;border-radius:4px;height:60px; width: 160px; line-height: 17px;}
.profile-tbl {width:100%;}
.profile-td {vertical-align:middle;}
.profile-td:first-child {width:1%;padding-right:15px;}
.profile-a {font-size:11px;color:#666;}