.userinfo {
	padding: 0 15px;
	background: #fff;
	border-radius: 4px;
}
.userinfo-ttl {
	font-size: 15px;
	font-weight: bold;
	line-height: 38px;
	border-bottom: 1px solid #e5e5e5;
}
.userinfo-ttl ~ .userinfo-ttl {
	border-top: 1px solid #e5e5e5;
}
.userinfo-section {
	padding: 7px 0;
}
.userinfo-row {
	line-height: 22px;
}
.userinfo-row:after {
	content: '';
	display: block;
	clear: both;
}
.userinfo-label {
	width: 135px;
	color: #666;
	float: left;
}
.userinfo-value {
	color: #666;
	float: left;
}
.userinfo-age {
	color: #bbb;
}
.userinfo-feed {
	margin-top: -38px;
	padding: 0 10px 0 0;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	line-height: 31px;
	text-transform: uppercase;
	border-radius: 3px;
	background: #2b7bde;
	float: right;
}
.userinfo-feed.unsubscribe {
    margin-top: -38px;
    padding: 0 10px 0 0;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    line-height: 31px;
    text-transform: uppercase;
    border-radius: 3px;
    background: #ccc;
    float: right;
}
.userinfo-feed:hover {
	text-decoration: none;
}
.userinfo-feed-icon {
	border-radius: 3px 0 0 3px;
	width: 27px;
	height: 31px;
	float: left;
	margin-right: 10px;
	background: #2871cc url(../i/sprite-blue.png) 10px -8px no-repeat;
}
.userinfo-feed.unsubscribe .userinfo-feed-icon {
	border-radius: 3px 0 0 3px;
	width: 27px;
	height: 31px;
	float: left;
	margin-right: 10px;
	background: #ddd url(../i/sprite-gray.png) 10px 11px no-repeat;
}
.userinfo-rss {
	margin: 0 -15px;
	padding: 0 15px;
	line-height: 37px;
	border-radius: 0 0 4px 4px;
	background: #f5f5f5;
}